@vienna:registry=https://msdata.pkgs.visualstudio.com/_packaging/vienna-shared-ux@Local/npm/registry/
always-auth=true

; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 9/19/2019.
; begin auth token
//msdata.pkgs.visualstudio.com/_packaging/vienna-shared-ux@Local/npm/registry/:username=vienna-shared-ux
//msdata.pkgs.visualstudio.com/_packaging/vienna-shared-ux@Local/npm/registry/:_password=c3U3eW1jd2lrcmo1dXdyaWt0Mmd1b3FxYmxkYms3d3BrdG1jYms0dHYyazMzNWVhdDJ1YQ==
//msdata.pkgs.visualstudio.com/_packaging/vienna-shared-ux@Local/npm/registry/:email=npm requires email to be set but doesn't use the value
//msdata.pkgs.visualstudio.com/_packaging/vienna-shared-ux@Local/npm/:username=vienna-shared-ux
//msdata.pkgs.visualstudio.com/_packaging/vienna-shared-ux@Local/npm/:_password=c3U3eW1jd2lrcmo1dXdyaWt0Mmd1b3FxYmxkYms3d3BrdG1jYms0dHYyazMzNWVhdDJ1YQ==
//msdata.pkgs.visualstudio.com/_packaging/vienna-shared-ux@Local/npm/:email=npm requires email to be set but doesn't use the value
; end auth token