@mlworkspace:registry=https://msdata.pkgs.visualstudio.com/_packaging/vienna-shared-ux/npm/registry/
always-auth=true

@vienna:registry=https://msdata.pkgs.visualstudio.com/_packaging/vienna-shared-ux@Local/npm/registry/
always-auth=true

; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 11/5/2019.
; begin auth token
//msdata.pkgs.visualstudio.com/_packaging/vienna-shared-ux@Local/npm/registry/:username=vienna-shared-ux
//msdata.pkgs.visualstudio.com/_packaging/vienna-shared-ux@Local/npm/registry/:_password=N2RzNXpkamozcmp4ZWNzdHJqdHVyY29sYWJkNnU3eW1mbGx5c2V3NnVzZ2hpbXZhaHRxcQ==
//msdata.pkgs.visualstudio.com/_packaging/vienna-shared-ux@Local/npm/registry/:email=npm requires email to be set but doesn't use the value
//msdata.pkgs.visualstudio.com/_packaging/vienna-shared-ux@Local/npm/:username=vienna-shared-ux
//msdata.pkgs.visualstudio.com/_packaging/vienna-shared-ux@Local/npm/:_password=N2RzNXpkamozcmp4ZWNzdHJqdHVyY29sYWJkNnU3eW1mbGx5c2V3NnVzZ2hpbXZhaHRxcQ==
//msdata.pkgs.visualstudio.com/_packaging/vienna-shared-ux@Local/npm/:email=npm requires email to be set but doesn't use the value
; end auth token